extends layout

include mixins/sparkLogo
include mixins/cta
include mixins/messageBlock
include mixins/oneMillPPlPart

block panels
    ol(class="panels one-million-panels")
        mixin headerPanel
        mixin localPassion
        mixin yourSupport
        mixin outOfPoverty(true)

block content
    link(rel='stylesheet', href='/stylesheets/oneMillion.css')
    - var data = {}
    - data.education = {}
    - data.education.href = 'mill-education'
    - data.education.head = 'EDUCATION'
    - data.education.image = 'EDUCATION'
    - data.education.labelDescription1 = 'It\'s tough to move out of extreme poverty '
    - data.education.labelDescription2 = 'if you can\'t go to school'
    - data.education.messageHead = 'Teresia was forced to drop out of school because she couldn\'t afford lunch.'
    - data.education.messageDescription = 'In Ruiru, Kenya many families live in extreme poverty and if they have a bad year of crops due to drought, one of the biggest expenditures they need to cut is school fees and lunches for their children. If Teresia is unable to stay in school, her chances of staying in poverty are significantly increased.'
    - data.education.messageFooter = 'Yet providing a child with just one extra year of education beyond the average will boost their future wages by 20%'
    - data.education.bottomMessage = 'Spark* partnered with Wawira to help Teresia move out of extreme poverty'
    - data.education.rightMessage = 'Teresia can now go to school because Wawira has provided lunch for her'
    - data.education.story = 'Teresia has increased her attendance in school from 40% to 85% in recent months and receives a full nutritious lunch every day. Her grades are continuing to increase and she passed into year seven easily at the end of 2012. She has also started in the mentoring program that Wawira\'s team has recently begun.'

    - data.employment = {}
    - data.employment.href = 'mill-employment'
    - data.employment.head = 'EMPLOYMENT'
    - data.employment.image = 'EMPLOYMENT'
    - data.employment.labelDescription1 = 'It\'s tough to move out of extreme poverty '
    - data.employment.labelDescription2 = 'if you only earn a few dollars a day'
    - data.employment.messageHead = 'Mary couldn\'t earn enough to plan for the future.'
    - data.employment.messageDescription = 'Mary makes just enough from her tomato stall at the markets to feed her children, but she finds it hard to make enough each day to put any savings aside.'
    - data.employment.messageFooter = 'In Papua New Guinea, 4 in every 5 women work in the informal sector, making small amounts of money day to day. Just two extra dollars in their pockets each day can move them out of the extreme poverty bracket, allowing them to make much needed purchases and savings for their families.'
    - data.employment.bottomMessage = 'Spark* partnered with Fiona to help Mary move out of extreme poverty'
    - data.employment.rightMessage = 'Mary now runs a profitable chicken farm that Fiona helped her launch'
    - data.employment.story = 'Mary engaged with the project and has been buying day old chicks and then raising them in the project\'s chicken house. She has now joined a community bank to save money and has been able to send her children back to school.'

    - data.environment = {}
    - data.environment.href = 'mill-environment'
    - data.environment.head = 'ENVIRONMENT'
    - data.environment.image = 'ENVIRONMENT'
    - data.environment.labelDescription1 = 'It\'s tough to move out of extreme poverty '
    - data.environment.labelDescription2 = 'if your local environment is dirty and degraded'
    - data.environment.messageHead = 'The rubbish in the township Jonny lives in was getting worse every year.'
    - data.environment.messageDescription = 'Jonny has lived his whole life in the township, but in recent years the rubbish situation has been getting worse. There seem to be more rats, he can\'t wash his clothes in the lake and he keeps getting sick.'
    - data.environment.messageFooter = ' Time after time it has been demonstrated that a clean and healthy environment is a crucial element in helping people move out of extreme poverty.'
    - data.environment.bottomMessage = 'Spark* partnered with Eliot to help Jonny move out of extreme poverty'
    - data.environment.rightMessage = 'Jonny\'s township has completely changed since Eliot launched his recycling centre.'
    - data.environment.story = 'Jonny has been taking his goods to the collection centres where they are transported to the recycling hub and then sold. He has noticed how the streets are already cleaning up with the new project. His auntie has received a job with the centre which is really helping his family.'

    - data.gender_equality = {}
    - data.gender_equality.href = 'mill-gender-equality'
    - data.gender_equality.head = 'GENDER EQUALITY'
    - data.gender_equality.image = 'GENDER'
    - data.gender_equality.labelDescription1 = 'It\'s tough to move out of extreme poverty '
    - data.gender_equality.labelDescription2 = 'as a woman when you are unable to safely make decisions to improve your life'
    - data.gender_equality.messageHead = 'Christina\'s husband was abusing her and she was out of options.'
    - data.gender_equality.messageDescription = 'Christina had been married for two years, but her husband began to abuse her more frequently. He did not let her work and she didn\'t know where to go. In Papua New Guinea, 2 in every 3 women have experienced physical abuse at the hands of men. '
    - data.gender_equality.messageFooter = 'By making a private family issue a community concern, dramatic changes have been seen in many communities, reducing domestic abuse levels and helping women move into safer situations.'
    - data.gender_equality.bottomMessage = 'Spark* partnered with Nancy to help Christina move out of extreme poverty'
    - data.gender_equality.rightMessage = 'Christina made her way to Nancy\'s refuge centre and received medical and legal support'
    - data.gender_equality.story = 'Christina heard about Nancy\'s project from the posters put up in her street and reached out to them when her husband abused her. She was provided with emergency lodging but since then has become an active member of the group, receiving counseling and support as well as providing it to other at-risk women in the community.'

    - data.health = {}
    - data.health.href = 'mill-health'
    - data.health.head = 'HEALTH'
    - data.health.image = 'HEALTH'
    - data.health.labelDescription1 = 'It\'s tough to move out of extreme poverty '
    - data.health.labelDescription2 = 'if you can\'t stay healthy'
    - data.health.messageHead = 'The only water that Peter has to drink keeps making him sick.'
    - data.health.messageDescription = 'Peter grew up in Watut, but in recent years the river has become contaminated with dirty and polluted water. Each week, Peter has been missing days from work due to illness caused by drinking dirty water. If you are faced with diseases like cholera, parasites like malaria and viruses like HIV, life becomes incredibly difficult. The fact that 11 million children die every year from preventable diseases is one of the biggest tragedies of our times. '
    - data.health.messageFooter = 'Clean water supplies help people stay healthier, get more income from their crops and spend more days in school or in work.'
    - data.health.bottomMessage = 'Spark* partnered with Reuben to build and maintain a clean water supply in Peter\'s village.'
    - data.health.rightMessage = 'The water in Peter\'s community is now clean thanks to a new pump installed by Reuben\'s team.'
    - data.health.story = 'Reuben\'s organisation helped Peter\'s village install a clean water supply, washing area, and three new toilets. Villagers contributed their funds and labour to the project, and have also been trained in how to maintain the water supply. Peter no longer gets sick from drinking polluted water, and is able to regularly go to work.'

    - data.message = {}
    - data.message.teresia = {}
    - data.message.teresia.name = 'Teresia'
    - data.message.teresia.location = 'Kenya'
    - data.message.teresia.message = 'Teresia can now go to school because Wawira has provided lunch for her.'
    - data.message.teresia.left = 30
    - data.message.teresia.top = 100

    - data.message.mary = {}
    - data.message.mary.name = 'Mary'
    - data.message.mary.location = 'South Africa'
    - data.message.mary.message = 'Mary now runs a profitable chicken farm that Fiona helped her launched.'
    - data.message.mary.left = 30
    - data.message.mary.top = 200

    - data.message.christina = {}
    - data.message.christina.name = 'Christina'
    - data.message.christina.location = 'Papa New Guinea'
    - data.message.christina.message = 'Christina made her way to Nancy\'s refuge centre and received medical and legal support'
    - data.message.christina.left = 400
    - data.message.christina.top = -150

    - data.message.peter = {}
    - data.message.peter.name = 'Peter'
    - data.message.peter.location = 'Papa New Guinea'
    - data.message.peter.message = 'The water in Peter\'s community is now clean thanks to a new pump installed Reuben\'s team'
    - data.message.peter.left = 350
    - data.message.peter.top = -100

    - data.message.cecilia = {}
    - data.message.cecilia.name = 'Cecilia'
    - data.message.cecilia.location = 'Papa New Guinea'
    - data.message.cecilia.message = 'The rubbish in the township Cecilia lives in is getting worse every year.'
    - data.message.cecilia.left = 350
    - data.message.cecilia.top = -50

    #one-mill-ppl
        .columns
            .column.triple-column
                h1 1 million people out of extreme poverty
                p.tmp-img
                        img(src='/images/tmp-1-mill.jpg', alt='Change 1 million lives')
                p.head-paragraph 
                    | To change 1 million lives Spark* will find and enable 1000 Changemakers over the next 
                    | decade as they bring at least 1000 people in their communities out of extreme poverty.
            .column.single-column.selected-column
                .nav-in-page
                    h3 What does it mean to live in Extreme Poverty?
                    p We asked our changemakers and they broke it down for us. Problems generally fall in to one of the following categories.
                    ul
                        li
                            a(href="#mill-education") Education
                            img.img-arrow-left
                        li 
                            a(href="#mill-employment") Employment
                            img.img-arrow-left
                        li 
                            a(href="#mill-environment") Environment
                            img.img-arrow-left                      
                        li 
                            a(href="#mill-gender-equality") Gender Equality
                            img.img-arrow-left                     
                        li 
                            a(href="#mill-health") Health
                            img.img-arrow-left                       
        mixin oneMillPplPart(data.education) 
        mixin oneMillPplPart(data.employment)
        mixin oneMillPplPart(data.environment)
        mixin oneMillPplPart(data.gender_equality)
        mixin oneMillPplPart(data.health)

append scripts
    script
        //- $('.read-full-story').click(function(){
        //-     $('.full-story').toggle()
        //- });