extends layout

include mixins/projectProgress
include mixins/helperBadge
include mixins/donationForm

block panels
    ol(class="panels project-panels")
        mixin headerPanel
        mixin localPassion(true)
        mixin yourSupport
        mixin outOfPoverty

block content
    #fb-root
    .columns.project-details
        .column.single-column
            h3
                span.action-word found
                |  in
            .location= project.location
            img(src="/images/map-#{project.locationSlug}.png",width="210px")
            p
                a(href="/change-maker/country/#{project.locationSlug}") More projects from this region
        .column.single-column.selected-column
            .column-content
                a.back(href="/change-maker/") Search results
                .changemaker-badge
                    img.avatar(src=project.changemaker.media.image_url_headshot)
                    .name= project.changemaker.first_name + ' ' + project.changemaker.last_name
                    - if (project.grant_info)
                        mixin projectProgress(project.grant_info)
                a.fund(href="#where-does-my-funding-go") Where does my funding go?
        .column.double-column
            .project-detail-block
                ol.project-stats
                    li.funders
                        span.badge.funder-count= project.funders.length
                        a(href="#funders") Funders
                    - if (false)  //- removed for launch
                        li.updates-badge
                            span.badge.update-count= project.updates.length
                            a(href="#updates") Updates
                h1= project.name
                h2.category-statement
                    | Has impact in
                    a.category(href="/change-maker/category/#{project.categorySlug}")= project.category
                #project-actions
                    .contribute
                        mixin donationAmountSelector(25)
                        mixin fundButton("button", project.changemaker.first_name)
                        button.help-button(id='help-button-action', href='#help-button-temp')
                            | Help
                            .detail= project.changemaker.first_name
                        div#help-button-temp
                            p Soon you will be able to help all of our changemakers
                    .video-holder
                        - if (project.media.video_url_main)
                            a#play-video(href=project.media.video_url_main)
                                img(src=project.media.image_url_main)
                        - else
                            img(src=project.media.image_url_main)
                    .sharing
                        .addthis
                            // AddThis Button BEGIN
                            .addthis_toolbox.addthis_default_style
                                a.addthis_button_email
                                a.addthis_button_tweet
                            script var addthis_config = {ui_508_compliant: true};
                            script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5162baea0000c270")
                            // AddThis Button END
                        .facebook
                            script
                                (function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=#{facebookAppId}";
                                fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));
                            .fb-like#facebook(data-send="false", data-width="300", data-show-faces="false")
                            script document.getElementById('facebook').setAttribute('data-href', location.href);
                mixin donationForm(project, user, true, 25, donationCountries)
    .columns.project-details
        .column.single-column
            h3
                span.action-word accelerated
                |  in
            h5= project.acceleratedAt
            p
                a(href="/spark#spark-accelerate") What does accelerated mean?
        .column.single-column.selected-column
            .column-content
                h4= project.changemaker.first_name + "'s story"
                p= project.changemaker.story
        .column.double-column
            .tabs
                ul.tab-menu(role="tablist")
                    li.tab.selected#mission(role="tab")
                        h4.tab-title= project.changemaker.first_name + "'s mission"
                    li.tab#problem(role="tab")
                        h4.tab-title The Problem
                    li.tab#solution(role="tab")
                        h4.tab-title The Solution
                .tab-content
                    .tab-pane(role="tabpanel", aria-labelledby="mission", aria-hidden="false")= project.mission
                    .tab-pane(role="tabpanel", aria-labelledby="problem", aria-hidden="true")= project.problem
                    .tab-pane(role="tabpanel", aria-labelledby="solution", aria-hidden="true")= project.solution
    .columns.project-details
        .column.single-column
            h3
                span.action-word supported
                |  with
            p Ongoing training, strategic guidance and inspiration through our network.
            p
                a(href="/spark#spark-support") How does Spark* support them?
        .column.single-column.selected-column
        .column.double-column
            - if (false) //- Removed for launch
                .updates
                    h2#updates.updates
                        .left-shifted
                            span.badge.update-count= project.updates.length
                        | Updates
                    each update in project.updates
                        .project-update
                            h3.update-title
                                span.update-date= new Date(update.created_date).toDateString()
                                = update.title
                            - if (update.body.length > 250)
                                - var updateBodyExcerptEnd = update.body.lastIndexOf(' ', 250);
                                - updateBodyExcerptEnd = ~updateBodyExcerptEnd ? 250 : updateBodyExcerptEnd;
                                div= update.body.substring(0, updateBodyExcerptEnd) + "..."
                                a(href="#") More
                                div.update-extended= update.body.substring(updateBodyExcerptEnd)
    .columns.project-details.funding-titles
        .column.single-column
            h3 Ready for
                span.action-word  FUNDING
        .column.single-column.selected-column
        .column.double-column
            h1#where-does-my-funding-go.funding Where does my funding go?
    .columns.funding-details
        .column.single-column
            h4.spark(class="spark-title") Spark
                b *
                |  Fund
            p All of our administration costs (including staff, travel, office space and the accelerator programs) through our social businesses and grants.
        .column.single-column.selected-column
            h4.change-makers-fund Changemakers Fund
            p Some of the costs, inspiring their community to engage with the project and take local ownership.
        .column.single-column
            h4.you You Fund
                span.emphasise  100%
            p Your entire donation goes towards the startup or growth costs of the project, helping Changemakers to build or expand their impact.
        .column.single-column
            h4.poverty People out of Poverty
            p Every bit of support helps. Spark* Changemakers can turn a community around with $1000, working at a fraction of the cost of other charities.
    .columns.project-details
        .column.single-column
        .column.single-column.selected-column
        .column.double-column
            .funders-list
                h2#funders
                    .left-shifted
                        span.badge.funder-count= project.funders.length
                    | Funders
                each funder in project.funders
                    mixin helperBadge(funder)
- if (false) //- never display until we support helpers.
    .columns
        .column.single-column
        .column.single-column.selected-column
        .column.double-column
            .helpers-list
                h2#helpers
                    .left-shifted
                        span.badge.helper-count= project.helpers.length
                    | Helpers
                each helper in project.helpers
                    mixin helperBadge(helper)

append scripts
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", defer)
    script(src="/scripts/projects.js", defer)
    script(src="/scripts/urls.js", defer)
    script
        var brainTreeEncryptionKey = '#{braintreeEncryptionKey}';
        var csrfToken = '#{csrfToken}';
        $("button#help-button-action").fancybox({helpers:{media:{}}});
    script(src="//js.braintreegateway.com/v1/braintree.js", defer)
    script(src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js", defer)    
    script(src="/scripts/donations.js", defer)
    script(src="/scripts/video-box.js")
