extends layout

include mixins/sparkLogo
include mixins/cta
include mixins/2spark/2spark_part
include mixins/2spark/2spark_message

block panels
    ol(class="panels spark-panels")
        mixin headerPanel(true)
        mixin localPassion
        mixin yourSupport
        mixin outOfPoverty

block content
    link(rel='stylesheet', href='/stylesheets/spark.css')

    - var data = {}
    - data.finding = {}
    - data.finding.href = 'spark-find'
    - data.finding.head = 'The Spark* process is simple, we start by...'
    - data.finding.head2 = 'FINDING'
    - data.finding.head3 = 'LOCAL LEADERS WITH EXCITING EARLY IDEAS TO BRING THEIR PEOPLE OUT OF EXTREME POVERTY. WE CALL THEM THE CHANGEMAKERS.'

    - data.finding.text = []
    - data.finding.text[0] = 'Each year we search for 15 changemakers in each country. Their ideas are still in the early stages, and the full impact is yet to be realised. This means that they have yet to bring more than 100 people out of poverty.'
    - data.finding.text[1] = 'The annual search for our changemakers is exhaustive. We use TV and radio, Twitter, Facebook, emails and even SMS. We put up posters, get in touch with local organisations, schools and universities, and call for recommendations from trusted local leaders with a track record of delivering change.'
    - data.finding.text[2] = 'This usually generates huge numbers of applications which we carefully work through to arrive at our top 15. These are the changemakers who demonstrate intense passion to impact their community, an exciting idea on how to do that, and a track record of making things happen.'

    - data.accelerate = {}
    - data.accelerate.href = 'spark-accelerate'
    - data.accelerate.head = '... And then we...'
    - data.accelerate.head2 = 'ACCELERATE'
    - data.accelerate.head3 = 'THEIR IDEAS THROUGH A ONE WEEK INTENSIVE TRAINING PROGRAM, HELPING THEM TO STRENGTHEN THEIR MODEL AND PREPARE FOR INCREASED IMPACT.'
    - data.accelerate.text = []
    - data.accelerate.text[0] = 'We rent a house in each country and the selected changemakers live here for a week with the Spark* team to challenge then refine their ideas for change into well designed projects that are built to bring over 1000 people out of poverty. They engage with world-class entrepreneurship training, hang out with inspiring local mentors and work late into the night to build their ideas.'
    - data.accelerate.text[1] = 'By the end of the intensive week they have a strategic foundation for their project. But this is only the beginning!'

    - data.support = {}
    - data.support.href = 'spark-support'
    - data.support.head = 'Beyond the Accelerator we...'
    - data.support.head2 = 'SUPPORT'
    - data.support.head3 = 'THE CHANGEMAKERS WITH ONGOING TRAINING, STRATEGIC QUESTIONS AND INSPIRATION THROUGH OUR NETWORK.'
    - data.support.text = []
    - data.support.text[0] = 'The Spark* team continues to engage with Changemakers at least once a month either through a meeting, email, facebook message or phone call helping Changemakers refine, launch and grow their projects. '
    - data.support.text[1] = 'The Spark* team searches for volunteers across the globe who help meet the unique needs of each Changemaker, providing graphic design, websites, laptops and expert knowledge.'
    - data.support.text[2] = ''

    - data.funds = {}
    - data.funds.href = 'spark-fund'
    - data.funds.head = 'Then to launch or grow projects we source...'
    - data.funds.head2 = 'FUNDS'
    - data.funds.head3 = 'FROM THE SPARK* TRIBE TO HELP CHANGEMAKERS OVERCOME THE OBSTACLES THAT ARE STOPPING THEM FROM HAVING THE IMPACT THAT THEY WANT IN THEIR COMMUNITY.'
    - data.funds.text = []
    - data.funds.text[0] = 'Changemakers apply for funding for one of two stages. In early rounds of funding they can apply for $1000 of support each time to help them cover the costs as they test their idea at a small scale and learn what does and doesn’t work. This work is tough, it takes time and it is difficult to find a perfect solution straight away. Spark* commits to supporting Changemakers throughout this early testing stage. '
    - data.funds.text[1] = 'Once an idea is proven, Spark* helps Changemakers to raise the funds to grow their idea to help more people out of poverty in their community. If an idea is having amazing impact we even help a Changemaker share this widely so even more people can benefit from it. '
    - data.funds.text[2] = ''

    - data.infographic = []

    - data.infographic[0] = {}
    - data.infographic[0].start = 'We have '
    - data.infographic[0].body = 'local knowledge'
    - data.infographic[0].end = '. We know the people, the problems and the challenges intimately.'
    - data.infographic[0].left = 100
    - data.infographic[0].top = 250

    - data.infographic[1] = {}
    - data.infographic[1].start = 'We are trusted because we are part of the '
    - data.infographic[1].body = 'community.'
    - data.infographic[1].end = 'We live here.'
    - data.infographic[1].left = 400
    - data.infographic[1].top = 220

    - data.infographic[2] = {}
    - data.infographic[2].start = 'We have '
    - data.infographic[2].body = 'local experience'
    - data.infographic[2].end = '. We know what has been tried, what has failed, and what is possible'
    - data.infographic[2].left = 100
    - data.infographic[2].top = 450

    - data.infographic[3] = {}
    - data.infographic[3].start = 'We are in it '
    - data.infographic[3].body = 'for the long run'
    - data.infographic[3].end = '. We want change more than an outsider ever could.'
    - data.infographic[3].left = 400
    - data.infographic[3].top = 450

    #spark2
      .columns.spark-infographic-container
        .column.single-column.selected-column

        .column.triple-column
            #spark-infographic
                h1 LOCAL SOLUTIONS TO LOCAL PROBLEMS
                .infographic-intro
                    h2 There are 1.3 billion people living in extreme poverty
                    p We think there are many incredible leaders in some of the poorest countries on earth. We know that they have the answers on how to best bring the people in their communities out of poverty. 
                        strong We exist to help enable and develop these changemakers.
                    p.tmp-img
                        img(src='/images/tmp-spark.jpg', alt='Incredible leaders in the poorest countries on earth')

                .quote
                    blockquote
                        "There are loads of intelligent, passionate people in the 
                        | countries where extreme poverty exists. Our job is the 
                        | more modest one, to get behind them."
                    em Paul Collier, Professor of Economics, Oxford University

      .columns.spark-infographic-container
          .column.single-column.selected-column
              .column-section-header
                  mixin sparkLogo
                  span  exists to
          .column.triple-column
              h1
                  a(href="#spark-find") FIND
                  span , 
                  a(href="#spark-accelerate") ACCELERATE
                  span , 
                  a(href="#spark-support") SUPPORT
                  span  AND 
                  a(href="#spark-fund") FUND
                  span  LOCAL CHANGEMAKERS
              mixin spark2_part(data.finding)
              mixin spark2_part(data.accelerate)
              a#play-video(href="http://www.youtube.com/watch?v=v53rfoWh2SU&amp;feature=youtu.be")
                  .spark-imgOrvideo
              mixin spark2_part(data.support)
              mixin spark2_part(data.funds)

append scripts
    script $("#play-video").fancybox({helpers:{media:{}}});