extends layout

block content
    section.static
        h1 Terms and conditions
        :markdown
            ##Terms of service##

            Use of [www.sparkinternational.org](http://www.sparkinternational.org/) (the Website) is provided by Spark\* International (Spark\*), an international not for profit organisation that is based in both Australia as Spark International Australia Ltd and in the USA as Spark International USA, subject to the following Terms and Conditions.

            Your use constitutes acceptance of these Terms and Conditions as at the date of your first use of the Website. If these Terms and Conditions are not accepted in full, the use of this site must be terminated immediately.

            These Terms of Service cover the following areas:

            1. About the Changemakers featured on this website
            2. Refunds
            3. Use of your donation
            4. Protecting your password
            5. Privacy
            6. User conduct
            7. Links
            8. Trademarks
            9. Copyright
            10. Disclaimer
            11. Changes to the terms of use
            12. Governing Law
            13. Third party rights
            14. Fees
            15. Indemnity


            ##About the Changemakers featured on this website##

            The Website and its associated services allow you to donate to any of the Changemakers listed on this Website. Every Changemaker is an official member of the Spark\* Changemaker Program and has participated in a week-long intensive Accelerator Program in their country. They have all received ongoing support and strategic direction before applying to the Spark\* Fund and are chosen to access financial and other support through our website at the discretion of the Spark\* Selection Panel. It is the user’s responsibility to check that they are donating to the Changemaker that they intended. As a supporter you do not take any indemnity or liability for the actions taken by a Changemakers. 

            ##Refunds##

            Because we promptly pay donations to our Changemakers, we regret that in many cases we cannot process refunds. If however you have made a mistake on your donation, please email us within 48 hours of the donation at [support@sparkinternational.org](mailto:support@sparkinternational.org) and we will endeavour to arrange a refund for you.  

            ##Use of your donation##

            Spark\* is not responsible for any dissatisfaction you may have regarding the Changemaker’s use of any donation you may make through the Website or its associated services powered by us. We take every effort to ensure the accountability of every project started by a Changemaker and they conduct impact assessment and we encourage that they have an auditor audit their accounts each year. Please note that the recipient Changemaker reserves the right to use your donation for the best purposes to launch and grow their organization. As intelligent, entrepreneurial and accountable social entrepreneurs they determine the best use of these funds which are also endorsed by the Spark\* International team. 

            ##Protecting your password##

            When you register with Spark\* and choose a password to protect your secure account, you are responsible for maintaining the confidentiality of your password. If you become aware of any unauthorised use of your password, we recommend that you change your password immediately and contact us at: [support@sparkinternational.org](mailto:support@sparkinternational.org). 

            ##Privacy##

            The Spark\* Privacy Policy forms part of these Terms of Service. By agreeing to these Terms of Service you also give your consent to the way we may handle your personal information under that Policy. Read our Privacy Policy here.

            ##User conduct##

            You agree to use this site only for lawful purposes, and in a manner which does not infringe the rights, or restrict, or inhibit the use and enjoyment of the site by any third party.

            In particular, but not exclusively:

            You must not upload offensive, obscene or racist content, on to the Website or its associated services. Spark\* reserves the right to remove or edit any content posted on the Website or its associated services at its sole discretion and without notice, regardless of whether or not it is, in the opinion of any third party, offensive, obscene or racist. If you notice any such content, please email us at [support@sparkinternational.org](mailto:support@sparkinternational.org)

            In addition, you as a user must not:

            Misrepresent your identity or affiliation with any other person or organisation; interfere with, or disrupt, the service or services or networks connected to the service and introduce any computer virus (including any variant or similar malicious code or instructions) to the Spark\* systems.

            Spark\* reserves the right to cancel your membership without notice in the event of a breach of the above rules.

            ##Links##

            The Website and its associated services may contain links to the websites of other organisations, whether charities or otherwise. Inclusion of a link to another website does not imply endorsement of its content or opinions. Spark\* accepts no responsibility for the content, claims of offer or privacy conditions of external websites.

            ##Trademarks##

            The name Spark\* International, the logo and any other product that we may present on the Website or its associated services from time to time may not be used in connection with any product or service that is not Spark\*’s, nor in any manner that is likely to cause confusion, or in any way that may disparage or discredit Spark\*. Other trademarks, service marks or logos that appear on the Website or its associated services, in particular (but not exclusively) those of our partners or Changemakers’ organisations, are the property of their respective owners and are likely to be registered trademarks and subject to restrictions as to their use. They must not be used without the express permission of the trademark owner.

            ##Copyright##

            All content on the Website and its associated services is owned by Spark\*, our Changemakers, or other original providers, and is protected by the applicable intellectual property and proprietary rights and laws. You may copy content for your own personal, non-commercial use provided you do not alter it or remove any copyright, trademark or other proprietary notice. Commercial use or publication of all or any item displayed is strictly prohibited without prior authorisation from Spark\* and, where applicable, the copyright holder. If you require further information about the use of content please contact us at [support@sparkinternational.org](mailto:support@sparkinternational.org)

            ##Disclaimer##

            This site and the information, names, images, pictures, logos regarding or relating to Spark\* and our Changemakers are provided "as is" without any representation or endorsement made and without warranty of any kind whether express or implied. In no event will Spark\* be liable for any damages including, without limitation, indirect or consequential damages, or any damages whatsoever arising from the use or in connection with such use or loss of use of the site, whether in contract or in negligence.

            Spark\* do not warrant that the functions contained in the material contained in this site will be uninterrupted or error free, that defects will be corrected, or that this site or the server that makes it available are free of viruses or bugs or represents the full functionality, accuracy and reliability of the materials.

            Any communication or material that you transmit to, or post on, any public area of the site including any data, questions, comments, suggestions, or the like, is, and will be treated as, non-confidential and non-proprietary information.
            The views of contributors to this website are not necessarily the views of Spark\*.

            ##Changes to the Terms of Use##

            Spark\* reserves the rights to change these Terms and Conditions at any time by posting changes online. Your continued use of this site after changes are posted constitutes your acceptance of this agreement as modified.

            ##Governing law##

            These terms and conditions shall be governed and construed in accordance with the laws of Australia and the United States of America. Any disputes shall be subject to the exclusive jurisdiction of the Courts of Australia or the United States of America.

            ##Third party rights##

            A person who is not a party to these Terms of Service has no right under the Contracts (Rights of Third Parties) Act 1999 to enforce any term of these Terms of Service.

            ##Fees##

            Spark\* may charge a small transaction fee on donations made on the Website. The exact amount of the fee varies depending on the charity's expected volume of use on the site and is calculated as a percentage of the gross donation. If you would like full details of these fees please email us at  [support@sparkinternational.org](mailto:support@sparkinternational.org)

            ##Indemnity##

            A person who is a party to these Terms of Service agrees to the following:

            I acknowledge that I understand the nature of all the activities involved in my participation with Spark\*. I accept all risks necessarily flowing from my participation. I agree to indemnify Spark\*, and any other organisers or service providers associated with Spark\*, from any liability arising from my personal actions, where such actions are contrary to the policies of the organisers, the rules, or the directions from team leaders and organisers. I agree that Spark\*, and all other persons, corporations or other organisations associated with Spark\*, are not liable for any loss or damage suffered by myself or others arising from my involvement with the organisation. I hereby indemnify those persons, corporations and organisations against all liability, loss or damage arising from my participation.

append scripts
    script(src="/scripts/urls.js")