extends layout

include mixins/radioField
include mixins/sparkLogo
include mixins/cta
include mixins/selectField
include mixins/pager
include mixins/projectSearchEntry

block panels
    ol(class="panels you-panels")
        mixin headerPanel
        mixin localPassion
        mixin yourSupport(true)
        mixin outOfPoverty

block content
    section.static.you-pg
        h1 It's a simple equation, and we all have a role to play
        h2 Now, let’s talk about YOU.
        p.tmp-img
            img(src='/images/tmp-you.jpg', alt='Let\'s talk about you')
        :markdown

            Without making too many assumptions, if you are visiting this website you are probably someone who is lucky enough to fall in the top ten percent of people in the world who have enough money to go to school, access healthcare, own a computer or a smartphone and go to bed each night in a warm bed, in your home. 

            What excites us is that if you are on this site, reading this page, the chances are you are passionate about making a difference in your world. 

            Your piece of the equation is simple and powerful. You can find and fund Changemakers on this site. Very soon we will give you the chance to help Changemakers by donating your time and skills as well. 

            The Spark* team, made up of experienced social entrepreneurs, has a piece of the equation as well. We search for local Changemakers, Accelerate them with entrepreneurship training and then provide ongoing support and encouragement through the Network.  

            And of course the last piece of the equation is the Changemakers. They have the hardest job of all. They bring all of their local knowledge, their huge passion for change in their communities and the commitment to drive change for the long term. 

            With everyone playing their part, together we can help to bring one million people out of extreme poverty. 

            #We believe Changemakers are the key#
            ##And it is our role to support them##

            ###Gaining more than you give###

            The odds are that if you do volunteer overseas, you will return motivated, wiser and with a new appreciation of how lucky you really are. However (and no-one likes to hear this), there is a very real chance that after all of your work, your impact on the poor will be limited. While overseas volunteers may have lots of passion, it is unlikely that they have the relevant skills needed to create real change in these communities. 

            Our advice: If you really do want to witness the realities of poverty - grab your backpack, get some friends together and travel overseas as a tourist (keep safe though!). When you return home, search for local Spark* Changemakers on our website to support! 

            ###Change takes time###

            Creating true change in very poor communities takes time, and while our Changemakers are there for the long run, most volunteer placements are less than a month. If you are looking for a shorter-term volunteering experience, it’s worth really thinking about what your impact may be. 

            Our advice: Partner with a Changemaker for the long term. Keep in touch with them, help in as many ways as you can and follow their progress. Maybe one day you could even go over and visit as a friend!

            ###The power of local solutions###

            It takes enormous skill and local knowledge to lead change in a very poor community, attributes that our Changemakers possess in spades. Sometimes, very well meaning but inexperienced volunteers may actually have a negative effect on the communities they engage with. It’s always worth asking yourself whether a volunteer placement may be replacing local jobs and whether giving away free goods may be putting local companies out of business. 

            Our advice: First consider backing the local genius and passion of our Changemakers. If you do have a skill to offer, please click on the ‘Help a Changemaker’ button on this website.


append scripts
    script(src="/scripts/urls.js")
