@import variables

#home
	height 800px

	
	& > .container

		position absolute
		left 0
		right 0
		overflow hidden

	#hero:before,
	#secondary-callout:before
			content ""
			position absolute
			left 50%
			z-index 100
			margin-left 10px
			border-width 25px
			border-style solid

	#hero
		position relative
		background #000
		text-align center

		img
			margin-left -100px

		&:before
			top 0
			border-color #EFEADD transparent transparent transparent

	#primary-callout
		width 470px
		position absolute
		top 0
		left 50%
		bottom 0
		margin-left -470px
		background rgba(0, 0, 0, 0.6)
		font-family sparkFontBold
		padding 30px 40px 100px 40px
		font-size 50px
		text-align left
		vendor "box-sizing" border-box


		p, a
			color #fff

		a
			text-decoration none
			text-align center

		ul 
			position absolute
			left 30px
			right 30px
			bottom 30px
			padding-right 30px

			li

		.btn-fund
			float left		
			font-size 50px
			letter-spacing 0
			text-transform uppercase
			padding 10px 20px
			border-radius 10px
			letter-spacing 1px
			background rgb(175,50,116)
			background -moz-linear-gradient(top, rgba(175,50,116,1) 0%, rgba(206,71,149,1) 1%, rgba(206,71,149,1) 4%, rgba(199,59,138,1) 5%, rgba(206,71,149,1) 6%, rgba(206,71,149,1) 8%, rgba(199,59,138,1) 8%, rgba(199,59,138,1) 21%, rgba(189,55,134,1) 22%, rgba(189,55,134,1) 34%, rgba(175,50,116,1) 35%, rgba(189,55,134,1) 36%, rgba(189,55,134,1) 37%, rgba(175,50,116,1) 38%, rgba(189,55,134,1) 39%, rgba(189,55,134,1) 43%, rgba(175,50,116,1) 44%, rgba(189,55,134,1) 45%, rgba(189,55,134,1) 50%, rgba(175,50,116,1) 51%, rgba(175,50,116,1) 53%, rgba(189,55,134,1) 54%, rgba(175,50,116,1) 55%, rgba(175,50,116,1) 57%, rgba(189,55,134,1) 58%, rgba(175,50,116,1) 58%, rgba(175,50,116,1) 100%)
			background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,50,116,1)), color-stop(1%,rgba(206,71,149,1)), color-stop(4%,rgba(206,71,149,1)), color-stop(5%,rgba(199,59,138,1)), color-stop(6%,rgba(206,71,149,1)), color-stop(8%,rgba(206,71,149,1)), color-stop(8%,rgba(199,59,138,1)), color-stop(21%,rgba(199,59,138,1)), color-stop(22%,rgba(189,55,134,1)), color-stop(34%,rgba(189,55,134,1)), color-stop(35%,rgba(175,50,116,1)), color-stop(36%,rgba(189,55,134,1)), color-stop(37%,rgba(189,55,134,1)), color-stop(38%,rgba(175,50,116,1)), color-stop(39%,rgba(189,55,134,1)), color-stop(43%,rgba(189,55,134,1)), color-stop(44%,rgba(175,50,116,1)), color-stop(45%,rgba(189,55,134,1)), color-stop(50%,rgba(189,55,134,1)), color-stop(51%,rgba(175,50,116,1)), color-stop(53%,rgba(175,50,116,1)), color-stop(54%,rgba(189,55,134,1)), color-stop(55%,rgba(175,50,116,1)), color-stop(57%,rgba(175,50,116,1)), color-stop(58%,rgba(189,55,134,1)), color-stop(58%,rgba(175,50,116,1)), color-stop(100%,rgba(175,50,116,1)))
			background -webkit-linear-gradient(top, rgba(175,50,116,1) 0%,rgba(206,71,149,1) 1%,rgba(206,71,149,1) 4%,rgba(199,59,138,1) 5%,rgba(206,71,149,1) 6%,rgba(206,71,149,1) 8%,rgba(199,59,138,1) 8%,rgba(199,59,138,1) 21%,rgba(189,55,134,1) 22%,rgba(189,55,134,1) 34%,rgba(175,50,116,1) 35%,rgba(189,55,134,1) 36%,rgba(189,55,134,1) 37%,rgba(175,50,116,1) 38%,rgba(189,55,134,1) 39%,rgba(189,55,134,1) 43%,rgba(175,50,116,1) 44%,rgba(189,55,134,1) 45%,rgba(189,55,134,1) 50%,rgba(175,50,116,1) 51%,rgba(175,50,116,1) 53%,rgba(189,55,134,1) 54%,rgba(175,50,116,1) 55%,rgba(175,50,116,1) 57%,rgba(189,55,134,1) 58%,rgba(175,50,116,1) 58%,rgba(175,50,116,1) 100%)
			background -o-linear-gradient(top, rgba(175,50,116,1) 0%,rgba(206,71,149,1) 1%,rgba(206,71,149,1) 4%,rgba(199,59,138,1) 5%,rgba(206,71,149,1) 6%,rgba(206,71,149,1) 8%,rgba(199,59,138,1) 8%,rgba(199,59,138,1) 21%,rgba(189,55,134,1) 22%,rgba(189,55,134,1) 34%,rgba(175,50,116,1) 35%,rgba(189,55,134,1) 36%,rgba(189,55,134,1) 37%,rgba(175,50,116,1) 38%,rgba(189,55,134,1) 39%,rgba(189,55,134,1) 43%,rgba(175,50,116,1) 44%,rgba(189,55,134,1) 45%,rgba(189,55,134,1) 50%,rgba(175,50,116,1) 51%,rgba(175,50,116,1) 53%,rgba(189,55,134,1) 54%,rgba(175,50,116,1) 55%,rgba(175,50,116,1) 57%,rgba(189,55,134,1) 58%,rgba(175,50,116,1) 58%,rgba(175,50,116,1) 100%)
			background -ms-linear-gradient(top, rgba(175,50,116,1) 0%,rgba(206,71,149,1) 1%,rgba(206,71,149,1) 4%,rgba(199,59,138,1) 5%,rgba(206,71,149,1) 6%,rgba(206,71,149,1) 8%,rgba(199,59,138,1) 8%,rgba(199,59,138,1) 21%,rgba(189,55,134,1) 22%,rgba(189,55,134,1) 34%,rgba(175,50,116,1) 35%,rgba(189,55,134,1) 36%,rgba(189,55,134,1) 37%,rgba(175,50,116,1) 38%,rgba(189,55,134,1) 39%,rgba(189,55,134,1) 43%,rgba(175,50,116,1) 44%,rgba(189,55,134,1) 45%,rgba(189,55,134,1) 50%,rgba(175,50,116,1) 51%,rgba(175,50,116,1) 53%,rgba(189,55,134,1) 54%,rgba(175,50,116,1) 55%,rgba(175,50,116,1) 57%,rgba(189,55,134,1) 58%,rgba(175,50,116,1) 58%,rgba(175,50,116,1) 100%)
			background linear-gradient(to bottom, rgba(175,50,116,1) 0%,rgba(206,71,149,1) 1%,rgba(206,71,149,1) 4%,rgba(199,59,138,1) 5%,rgba(206,71,149,1) 6%,rgba(206,71,149,1) 8%,rgba(199,59,138,1) 8%,rgba(199,59,138,1) 21%,rgba(189,55,134,1) 22%,rgba(189,55,134,1) 34%,rgba(175,50,116,1) 35%,rgba(189,55,134,1) 36%,rgba(189,55,134,1) 37%,rgba(175,50,116,1) 38%,rgba(189,55,134,1) 39%,rgba(189,55,134,1) 43%,rgba(175,50,116,1) 44%,rgba(189,55,134,1) 45%,rgba(189,55,134,1) 50%,rgba(175,50,116,1) 51%,rgba(175,50,116,1) 53%,rgba(189,55,134,1) 54%,rgba(175,50,116,1) 55%,rgba(175,50,116,1) 57%,rgba(189,55,134,1) 58%,rgba(175,50,116,1) 58%,rgba(175,50,116,1) 100%)
			filter: unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#af3274', endColorstr='#af3274',GradientType=0 )")

			&:hover
				box-shadow 0 0 40px #ccc

			sml
				display block
				font-size 14px
				font-family bodyFont
				letter-spacing 0

		#play-video
			float right
			font-size 35px
			padding 22px 0

			&:hover span
				text-decoration underline

			&:after
				content "▶"
				font-size 80%
				margin-left 10px

	#secondary-callout
		background -moz-linear-gradient(top, rgba(0,0,0,0.52) 0%, rgba(0,0,0,0.31) 100%)
		background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.52)), color-stop(100%,rgba(0,0,0,0.31)))
		background -webkit-linear-gradient(top, rgba(0,0,0,0.52) 0%,rgba(0,0,0,0.31) 100%)
		background -o-linear-gradient(top, rgba(0,0,0,0.52) 0%,rgba(0,0,0,0.31) 100%)
		background -ms-linear-gradient(top, rgba(0,0,0,0.52) 0%,rgba(0,0,0,0.31) 100%)
		background linear-gradient(to bottom, rgba(0,0,0,0.52) 0%,rgba(0,0,0,0.31) 100%)
		filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#85000000', endColorstr='#4f000000',GradientType=0 )")

		&:before
			bottom 0
			border-color transparent transparent #EFEADD transparent

		& > .container
			height 280px
			width 900px
			margin 0 auto
			padding 30px 0

			.important
				width auto
				font-weight bold
				font-family sparkFontBold
				font-size 30px
				margin-bottom 20px

		p
			width 610px

		ol
			color #fff
			text-align left
			margin 20px 0 30px 0

			a
				color #fff
				text-decoration underline

			li
				display inline-block
				width 180px
				position relative
				margin-left 70px
				text-align center
				vertical-align middle

				&:before
					display block
					position absolute
					top 50%
					right 0
					margin-top -130px
					margin-right -60px
					color #867969
					font-family sparkFontBold
					font-size 220px



				&:first-child
					margin-left 0

				span
					display block
					font-size 40px
					text-transform uppercase


			span, #out-of-poverty
				font-family sparkFontBold

			#enable

				span
					text-transform none

			#enable, #find

				&:before
					content "+"

			#find
				width 100px

			#you

				width 110px

				&:before
					content "="

			#out-of-poverty
				width 280px
				font-size 60px
				line-height 45px
				text-transform uppercase
				margin-top -100px

				a
					color green

				b, i, u
					display block
					text-decoration none
					font-style normal

				i
					font-size 73px
					padding-top 8px

				u 
					font-size 100px
					padding-top 20px

	

