@import 'nib'
@import variables
@import mixins

#one-mill-ppl

	h1
		text-align right
		font-family sparkFontBold 
		font-size largeHeadSize
		text-transform uppercase

	.column
		padding 0px
	.read-full-story
		display none
		margin-top 10px
		text-decoration underline
		font-size textSize
		cursor pointer
	.oneMillPplPart
		.oneMillPplPart-block
			> *
				padding 10px
			h4
				background-transparency(gray, 0.2)
				font-size smallHeadSize
				color brown
				font-family sparkFontBold
			.oneMillPplPart-block-description
				background-transparency(gray, 0.2)
				color brown
			.oneMillPplPart-block-footer
				padding 10px
				background-transparency(brown, 0.3)
				font-size textSize
		.oneMillPplPart-bottom
			margin-top 20px
			font-size largeTextSize
			font-weight bold
			color green
			text-align right
			a
				font-size textSize
				color green
		.oneMillPplPart-block-right
			background-color green
			color white
			font-size largeTextSize
			font-weight bold
			padding 0px
			margin-top 180px
			margin-bottom 100px
		.full-story
			strong
			  background url(/images/carousel-changemaker.jpg)          
			
			h3, strong
			  &:after
				content "+"


	.triple-column
		> *
			margin 10px
		p
			text-align left

		h2
			font-size largeHeadSize
			text-align right
		h3
			color brown
			font-size sectionHeadSize
			text-align right
			b
			  color black

	.selected-column
		> *
			padding 10px
		color brown
		text-align right
		line-height spacedLines
		padding-right: 0px;
		background-transparency(subtler,0.2)
		vertical-align top
		H3
			font-size smallHeadSize
		p
			font-size textSize
		a
			font-size textSize
			color green
		.ahref-brown-color
			position relative
			top 25px
			a
				//margin-left: 5px
				color brown
				//text-decoration: none
				font-size textSize

	.left-text
		text-align left

	.head-paragraph
		background-transparency(green,1)
		padding 20px
		color white
		font-family sparkFontBold
		font-size largeHeadSize
		margin-top 0px

	.message-blocks
		height messageBlocksHeight

	.message-block
		position relative
		//height messageBlockHeight
		width messageBlockWidth
		padding messageBlockPadding
		background-transparency(green,0.2)
		.message-block-image
			position relative
			left -100px
			top -100px
		.message-block-location
			margin-top:10px
			color brown
			img
				position relative
				top 5px
		h2
			color brown
			font-size smallHeadSize
			text-align right
			vertical-align top

		&:hover
			background-transparency(green,1)
			color white
			cursor: pointer
			h2
				color black
			.message-block-location
				color black

	.small-text
		font-size: 13px
		margin-left:5px

	.margin-text
		padding: 5px 10px
		font-weight normal


	.img-left
		background-size: cover
	
	.img-people
		position: absolute
		top: -35px
		left: -31px
		background: url('/images/people.png') no-repeat
		height: 60px
		width: 60px

	.img-right-sleeve
		background: url('/images/people.png') no-repeat
		height: 60px
		width: 60px

	.img-people-right-sleeve
		position: relative
		top: 220px
		left: 200px
		background: url('/images/people.png') no-repeat
		height: 60px
		width: 60px

	.img-arrow-right
		//margin-left: 90px
		content: url('/images/arrow-right-brown-24.png')

	.img-arrow-up
		margin-left: 10px
		content: url('/images/arrow-up-brown.png')

	.img-arrow-left
		margin-left: 5px
		content: url('/images/arrow-left-brown.png')

	.img-arrow-down
		margin-left: 5px
		content: url('/images/arrow-down-brown.png')

.nav-in-page
	margin-top 50px