@import 'nib'
@import variables
@import mixins

div#spark2
    #spark-infographic
        H1
            margin-left 15px
            height 36px

        .infographic-messages
            height 500px

        .infographic-intro
            text-align center
            color brown
            h2
                font-size sectionHeadSize
                font-family sparkFontBold
                padding-top 20px
                padding-bottom 5px
            p
                font-size 15px

                strong
                	font-weight bold
                
        .spark2_message
            position absolute
            width 200px
            background-color white
            text-align center
            strong
                color blue
                font-family sparkFontBold
                font-size smallHeadSize
            span
                color red

        .quote
            background-color blue
            text-align center
            padding 20px
            margin-top 20px
            blockquote
                text-transform: uppercase
                line-height 0.85
                color white
                margin-bottom 6px
                font-family sparkFontBold
                font-size largeHeadSize
            em
                font-size 13px
                color black

    .columns
        .column
            padding 0px
            > *
              margin 8px

            .column-section-header
                padding-top 10px
        .selected-column
            color brown
            text-align right
            line-height spacedLines
            background-transparency(subtler,0.2)
            vertical-align top
            font-family: sparkFontBold
            font-size sectionHeadSize
            .spark-page-nav
                text-align left
                margin-top 200px
                font-size sectionHeadSize
                vertical-align top
            a
                font-family: bodyFont
                font-size textSize
                color blue

        .triple-column
            h1
                padding-top 10px
                font-family sparkFontBold 
                font-size largeHeadSize
                height 25px
                a
                    color blue

    .spark-background-blue
        background-color blue

    .spark-brown
        margin-top: 40px;
        color brown
        font-size:30px

    .spark-big-text
        font-size:46px
        margin:3px 0 25px 10px
        padding:15px 0 15px 0;
        line-height: 0.79
        text-shadow: 1px 1px 1px black

    .spark-small-text
        line-height: 1.19
        color:#64594a
        margin: 20px 0px
        font-size:15px

    .spark-span-text
        color:white
        font-size:28px
        margin-left:10px
        padding-bottom:10px
        text-shadow: none

    .spark-imgOrvideo
        margin: 0 0 0 70px
        background: url('/images/black-man.png') no-repeat
        width: 530px
        height: 320px
        -moz-box-shadow: 0 0 20px rgba(0,0,0,1)
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,1)
        box-shadow: 0 0 20px rgba(0,0,0,1)
        position relative

        &:after
            size = 100px
            content "▶"
            color white
            position absolute
            top 110px
            left 220px
            font-size 100px
            opacity 0.7

    .spark-top-up
        a
            text-decoration none
            color black
            padding-left 10px
            img
                margin-left 20px
                text-align right
        position relative
        top -20px
        cursor pointer
        font-size:12px
        //margin-left:610px
        float right
        background-transparency(brown,0.1)
        //background-color:#ded6ce
        height:22px
        width:75px
        &:hover
            background-transparency(brown,0.2)

    .img-right-sleeve
        margin: 0 5px 0 10px
        content: url('/images/arrow-right-brown-24.png')
.float-left
    float left

.float-right
    float right

.black
    color black
