mixin messageBlock(data)
    .message-block(style="left: #{data.left}px; top: #{data.top}px")
        .img-people
        h2= data.name
        p= data.message
        .message-block-location
            img(src="/images/icon-location.png")
            span.small-text= data.location
            img.img-arrow-right.float-right
