mixin navigationHygiene()
    ul
        li Copyright Spark* International 2013
        li
            a(href='/privacy-policy', title='Privacy Policy') Privacy Policy
        li
            a(href='/terms-and-conditions', title='Terms and Conditions') Terms and Conditions