mixin oneMillPplPart(data)
    .oneMillPplPart
        .columns
            .column.triple-column
                a(name=data.href)
                h2= data.head
                h3 
                  = data.labelDescription1
                  span.black= data.labelDescription2
                .oneMillPplPart-block
                    h4= data.messageHead
                    .oneMillPplPart-block-description= data.messageDescription
                    .oneMillPplPart-block-footer= data.messageFooter 
                .oneMillPplPart-bottom= data.bottomMessage
                    .read-full-story
                        span Read full story
                        img.img-arrow-down
            .column.single-column.selected-column.left-text
                .ahref-brown-color
                    a(href='#top') Top
                        img.img-arrow-up
                .img-people-right-sleeve
                .oneMillPplPart-block-right
                    .margin-text
                        = data.rightMessage
                    .full-story
                        .img-left
                            img(src='/images/1-mill-'+data.image+'.jpg')
                        .margin-text
                            p= data.story
        //.columns
            .full-story
                ol(class="panels")
                    li(class="header-panel-our-training-and-support")
                        h3(class="spark-title") Spark
                            b *
                    li(class="header-panel-local-passion-and-knowledge")
                        .selected
                            h3 Woman for the freedom of every...

                .column.single-column.selected-column
                    p Women for the freedom of every...

                .column.single-column
                    p 47 supporters
                    p Funded
                    p Wawira used the money to create a pig farm that would consistenly earn enough money to pay for lunches for the children every day.
                    p Helped
                    p Among our helpers were:
                    p * A designer who created a logo
                    p * A business analyst who helped create a business plan

                .column.single-column.selected-column
                    p Teresia has now been attending school and eating lunch every day for 3 month
