mixin panels(showSubtitle, showDetail, showSubItems)
    ol(class="panels")
        mixin headerPanel(showSubtitle, showDetail, showSubItems)
        mixin localPassion(showSubtitle, showDetail, showSubItems)
        mixin yourSupport(showSubtitle, showDetail, showSubItems)
        mixin outOfPoverty(showSubtitle, showDetail, showSubItems)

mixin headerPanel(showSubtitle, showDetail, showSubItems)
    li(class="nav-panel header-panel-our-training-and-support")
        .nav-box
            a(href="/spark")
                h3(class="spark-title") Spark
                    b *
                if showSubtitle
                    h4 Enabling changemakers in 3 countries
        if showDetail
            unless showSubItems
                a(href="/spark")
                    strong
                        .nav-sub-heading
                            span We find
                                br
                                | Changemakers
                a(href="/spark")
                    p We work tirelessly to identify as many changemakers as possible within local communities.
                        br
                        br
        if showSubItems
            ul
                li
                    h4.sub-item Spark Support
                    ul
                        li
                            a(href="spark#local-solutions-to-local-problems") Local solutions to local problems
                li
                    h4.sub-item About Spark*
                    ul
                        li
                            a(href="/spark#find-changemakers") Find
                        li
                            a(href="/spark#accelerate-changemakers") Accelerate
                        li
                            a(href="/spark#support-changemakers") Support
                        li
                            a(href="#fund-changemakers") Fund

mixin localPassion(showSubtitle, showDetail, showSubItems)
    li(class="nav-panel header-panel-local-passion-and-knowledge")
        .nav-box
            a(href="/change-maker")
                h3 Local change makers
                    if showSubtitle
                        h4
                            .changemaker-count
                                =changemakerCount
                                |  Changemakers
                            .project-count
                                =projectCount
                                |  Active Projects
        if showDetail
            unless showSubItems
                a(href="/change-maker")
                    strong
                        .nav-sub-heading
                            span John Taka
                a(href="/change-maker")
                    p In PNG, John Taka uses his sweet potato farm business to help the children of his village to return to school
        if showSubItems
            ul
                li
                    h4.sub-item Projects by country
                    ul
                        li
                            a(href="/change-maker/country/kenya") Kenya
                        li
                            a(href="/change-maker/country/papua-new-guinea") Papua New Guinea
                        li
                            a(href="/change-maker/country/south-africa") South Africa
                li
                    h4.sub-item Projects by area of impact
                    ul
                        li
                            a(href="/change-maker/category/education") Education
                        li
                            a(href="/change-maker/category/employment") Employment
                        li
                            a(href="/change-maker/category/gender-equality") Gender equality
                        li
                            a(href="/change-maker/category/health") Health

mixin yourSupport(showSubtitle, showDetail, showSubItems)
    li(class="nav-panel header-panel-your-support")
        .nav-box
            a(href="/you")
                h3 You
                if showSubtitle
                    h4.your-name Be amongst
                        br
                        | 537 other supporters
        if showDetail
            unless showSubItems
                strong
                    .nav-sub-heading
                        span Kaitlin
                p Kaitlin helped launch John Taka's idea by donating $50 towards his initial Spark* Fund.
                    br
                    br
        if showSubItems
            ul
                li
                    a(href="/you#what-is-your-role") Your role
                li
                    a(href="/you#spark-community") The Spark* Community

mixin outOfPoverty(showSubtitle, showDetail, showSubItems)
    li(class="nav-panel header-panel-people-out-of-poverty")
        .nav-box
            a(href="/1-million-people")
                h3 1 million out
                    b of extreme
                    i poverty
                if showSubtitle
                    h4
                        .thousand-affected 1000 people affected
                        .goal A million is our goal
        if showDetail
            unless showSubItems
                a(href="/1-million-people")
                    strong
                        .nav-sub-heading
                            span People out of poverty
                a(href="/1-million-people")
                    p Since beginning, John has helped over 100 children in his village return to school, and every harvest brings more opportunity.
        if showSubItems
            ul
                li
                    a(href="/1-million-people#education") Education
                li
                    a(href="/1-million-people#employment") Employment
                li
                    a(href="/1-million-people#environment") Environment
                li
                    a(href="/1-million-people#gender-equality") Gender equality
                li
                    a(href="/1-million-people#health") Health