mixin projectProgress(grant_info)
    .grant-info
        .progress-bar
            .filled-bar(style="width:" + (grant_info.percent_attained) + "%")
        .progress-statement
            span.amount.percent-attained= grant_info.percent_attained + "%"
            |  of
            span.amount= '$' + grant_info.amount_usd
            |  to launch
