mixin radioField(labelText, name, options, selectedKey)
    fieldset
        legend= labelText
        each option in options
            input(
                type='radio',
                name=name,
                value=option.key,
                id="#{name}-#{option.key}",
                checked= selectedKey === option.key ? 'checked' : undefined,
                class= selectedKey === option.key ? 'checked' : undefined
            )
            label(for="#{name}-#{option.key}")= option.value
