mixin spark2_part(data)
    .spark2_part
        a(name=data.href)
        h2.spark-brown= data.head
        .spark-top-up
            a(href="#top") Top
                img(src="/images/up.png")
        .spark-background-blue
            h2.spark-big-text= data.head2
                span.spark-span-text= data.head3
        each text in data.text
            p.spark-small-text= text
